.modal-overlay {
	display: flex;
	height: 100vh;
	min-width: 100%;
	position: fixed;
	background-color: rgba(118, 114, 114, 0.612);
}

.modal {
	min-width: 400px;
	margin: auto;
	margin-top: 200px;
	background-color: #ffffff;
}
